@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
    font-family: "Poppins", sans-serif !important;
}

.fc .fc-header-toolbar {
    color: white !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.fc .fc-toolbar-title {
    color: #0f1c70 !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.fc .fc-button {
    background-color: #0f1c70 !important;
    color: white !important;
    border: none !important;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 991px) {
    .fc .fc-button {
        background-color: #0f1c70 !important;
        color: white !important;
        border: none !important;
        transition: 0.3s all ease-in-out;
    }
}

.fc .fc-button:hover,
.fc .fc-button:focus {
    background-color: #0f1c70 !important;
    color: white !important;
    transition: 0.3s all ease-in-out;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 2px;
    padding: 5px 10px;
}

.fc-toolbar-title {
    font-size: 19px !important;
    font-weight: 600 !important;
}

.fc-scrollgrid-sync-inner {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.fc-daygrid-event {
    white-space: inherit !important;
    font-size: 12px !important;
}

.fc-daygrid-dot-event {
    flex-wrap: wrap !important;
}
